<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar', {title: 'Inicio'}) %>
	<!-- /Header -->
    <h1>Los más Populares</h1>
    <!-- Populares -->
    <section class="main">
        <% productPopular.forEach(productP => { %>
            <article class="product">
                <a class="enlace" href="/products/detail/<%= productP.id %>">
                    <img src="/images/products/<%= productP.image %>" alt="imagen de producto">
                    <div class="produc-atrib-box">
                        <h5><%= productP.name %></h5>
                        <p class="precio">$ <%= toThousand(productP.price) %></p>
                    </div>
                </a>
            </article>
        <% }) %>	
    </section>
    <h1>Novedades</h1>
    <!-- Nuevos -->
    <section class="main">
        <% productNuevo.forEach(productN => { %>
            <article class="product">
                <a class="enlace" href="/products/detail/<%= productN.id %>">
                    <img src="/images/products/<%= productN.image %>" alt="imagen de producto">
                    <div class="produc-atrib-box">
                        <h5><%= productN.name %></h5>
                        <p class="precio">$ <%= toThousand(productN.price) %></p>
                    </div>
                </a>
            </article>
        <% }) %>	
    </section>

    <section class="about">
        <h3>SOBRE NOSOTROS</h3>
        <p>Esta es una tienda de comida online que le ofrece al cliente la posibilidad de ver y seleccionar los productos que desea y elegir las formas de pagos mas convenientes para él.
            Nos enfocamos en ofrecer una experiencia rápida y satisfactoria, proporcionando opciones de comidas rápidas de calidad que se ajustan a diferentes estilos de vida. Nuestro menú diverso y opciones personalizables nos permiten atender a una audiencia amplia, desde jóvenes en movimiento hasta familias que buscan opciones variadas para todos los gustos.
        </p>
    </section>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>