<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
    <h1>Todo Nuestro Menu</h1>
    <section class="main">
        <% products.forEach(product => { %>
            <article class="product">
                <a class="enlace" href="/products/detail/<%= product.id %>">
                    <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                    <div class="produc-atrib-box">
                        <h5><%= product.name %></h5>
                        <p class="precio">$ <%= toThousand(product.price) %></p>
                    </div>
                </a>
            </article>
        <% }) %>
    </section>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>