<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Edicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
    <section class="main-edit-form">
        <div class="form">
            <h2>Formulario de edición de producto</h2>
            <!-- Formulario -->
            <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="create-form" id="create-form"> 
                <div class="control-form">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" minlength="3" maxlength="20" class="control" placeholder="Ej: Pizza doble queso" value="<%= productToEdit.name %>"> 
                </div>
                <div class="control-form">
                    <label for="description">Descripción</label>
					<textarea name="description" id="description" class="control"><%= productToEdit.description %></textarea>
                </div>
                <div class="control-form">
                    <label for="image">Seleccionar una imagen para el producto</label>
                    <input type="file" name="image" accept=".jpg, .png">
                </div>
                <div class="control-form">
                    <label for="category">Categoría</label>
                    <select name="category" id="category" class="control">
                        <% if (productToEdit.category == 'nuevo') { %>
                            <option value="popular">Populares</option>
                            <option value="nuevo" selected>Nuevos</option>			
                        <% } else if (productToEdit.category == 'popular') { %>
                            <option value="popular" selected>Populares</option>
                            <option value="nuevo">Nuevos</option>	
                        <% } else { %>
                            <option value="">Elegí</option>
                            <option value="popular">Populares</option>
                            <option value="nuevo">Nuevos</option>	
                        <% } %>
                    </select>
                </div>
                <div class="control-form">
                    <label for="type">Tipo</label>
                    <select name="type" id="type" class="control">
                        <% if (productToEdit.type == 'pizza') { %>
                            <option value="pizza" selected>Pizza</option>
                            <option value="hamburguesa">Hamburguesa</option>
                            <option value="acompañamiento">Acompañamiento</option>
                            <option value="comida mexicana">Comida Mexicana</option>
                            <option value="comida oriental">Comida Oriental</option>
                            <option value="postre">Postre</option>		
                        <% } else if (productToEdit.type == 'hamburguesa') { %>
                            <option value="pizza">Pizza</option>
                            <option value="hamburguesa" selected>Hamburguesa</option>
                            <option value="acompañamiento">Acompañamiento</option>
                            <option value="comida mexicana">Comida Mexicana</option>
                            <option value="comida oriental">Comida Oriental</option>
                            <option value="postre">Postre</option>	
                        <% } else if (productToEdit.type == 'acompañamiento') { %>
                            <option value="pizza">Pizza</option>
                            <option value="hamburguesa">Hamburguesa</option>
                            <option value="acompañamiento" selected>Acompañamiento</option>
                            <option value="comida mexicana">Comida Mexicana</option>
                            <option value="comida oriental">Comida Oriental</option>
                            <option value="postre">Postre</option>	
                        <% } else if (productToEdit.type == 'comida mexicana') { %>
                            <option value="pizza">Pizza</option>
                            <option value="hamburguesa">Hamburguesa</option>
                            <option value="acompañamiento">Acompañamiento</option>
                            <option value="comida mexicana" selected>Comida Mexicana</option>
                            <option value="comida oriental">Comida Oriental</option>
                            <option value="postre">Postre</option>	
                        <% } else if (productToEdit.type == 'comida oriental') { %>
                            <option value="pizza">Pizza</option>
                            <option value="hamburguesa">Hamburguesa</option>
                            <option value="acompañamiento">Acompañamiento</option>
                            <option value="comida mexicana">Comida Mexicana</option>
                            <option value="comida oriental" selected>Comida Oriental</option>
                            <option value="postre">Postre</option>
                        <% } else { %>
                            <option value="pizza">Pizza</option>
                            <option value="hamburguesa">Hamburguesa</option>
                            <option value="acompañamiento">Acompañamiento</option>
                            <option value="comida mexicana">Comida Mexicana</option>
                            <option value="comida oriental">Comida Oriental</option>
                            <option value="postre" selected>Postre</option>	
                        <% } %>
                    </select>
                </div>
                <div class="control-form">
                    <label for="price">Precio</label>
                    <input type="text" id="price" name="price" placeholder="Ej: 5678" class="control" value="<%= productToEdit.price %>">
                </div>
                <div class="control-boton">
                    <button type="submit" class="boton-form">Actualizar producto</button>
                </div>  
            </form>
        </div>
    </section>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>